/* Start of landing page */

/* Start of navbar media queries */
html {
  scroll-behavior: smooth;
}

.menu.responsive li {
  float: none;
  display: block;
  text-align: left;
}

/* End of navbar media queries */

body {
  margin: 0px;
  padding: 0px;
  background-color: #161616;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
#main {
  padding: 30px 50px;
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: charcoal;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper img {
  max-width: 100%;
}

@media (max-width: 1240px) {
  .wrapper {
    flex-direction: column;
  }
}

.wrapper img {
  margin-top: 100px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: calibri;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 50px;
  background-color: #f4f7ff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
  z-index: 10;
}

.menu {
  display: flex;
}
.menu li a {
  padding: 10px 15px;
  color: #6c707c;
  font-size: 12px;
}
.lang {
  color: #292929;
}
.logo {
  font-size: 25px;
  font-weight: bold;
  color: #292929;
  font-family: Poppins;
}
.toggle {
  display: none;
}
.active a,
.menu li a:hover {
  background-color: #292929;
  color: #fff !important;
  font-weight: bold;
  transition: all ease 0.4s;
}
.name {
  font-family: calibri;
  width: 500px;
  font-weight: bold;
}
.name p:nth-child(1),
.name .details {
  color: #6c707c;
  font-size: 21px;
}
.name h1 {
  font-family: Poppins;
  font-size: 40px;
  margin: 0px;
  letter-spacing: 3px;
  color: #17d1ac;
}

.social {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 65px;
}
.social a {
  margin: 6px 12px;
}
.social i {
  color: white;
  font-size: 42px;
}
.social a:hover i {
  color: #17d1ac;
  transition: all ease 0.5s;
}
/* End of landing page */

/* End of that small piece for navbar */

@media (max-width: 780px) {
  .logo {
    padding-left: 212px;
  }

  .name {
    top: 25%;
    width: 445px;
    left: 31%;
  }

  #main {
    background-position-y: 298px;
    background-position-x: 223px;
    height: 89vh;
    background-size: 314px !important;
  }
}
@media screen and (max-width: 600px) {
  .menu.responsive {
    position: relative;
  }
  .menu.responsive.toggle {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media (max-width: 420px) {
  .logo {
    padding-left: 29px;
  }

  .name {
    width: 370px;
    top: 18%;
  }

  #main {
    background-position-y: 245px;
    background-position-x: 70px;
    background-size: 276px !important;
  }

  .social {
    top: 94%;
    left: 28%;
  }
}
/* Small piece of media quieries for navbar */
@media (max-width: 400px) {
  .toggle {
    display: none;
  }
}

@media (max-width: 370px) {
  .name {
    width: 293px;
  }
  .logo {
    padding-left: 0px;
  }

  #main {
    background-position-y: 199px;
    background-position-x: 43px;
    background-size: 276px !important;
  }

  .social {
    left: 22%;
    top: 86%;
  }
}
