/* This is for the preloader in the background */
/* Code was gotten from Jason Wandrag and adapted  by me */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#333333, #4c4a4a);
  animation: dissappear 6s linear forwards;
}

h5 {
  font-family: Poppins;
  position: relative;
  color: #212121;
  font-size: 150px;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-bottom: 18px solid #212121;
}

h5:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "IZZYEVERMORE...";
  color: #00ffff;
  border-bottom: 18px solid #00ffff;
  overflow: hidden;
  animation: loading 7s forwards linear;
}

@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes dissappear {
  0% {
    opacity: 1;
    z-index: 100;
  }

  50% {
    opacity: 1;
  }

  80% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}
