@charset "utf-8";
/* Isaiah Lekay */
/* Start of landing page */

/* Start of navbar media queries */
html {
  scroll-behavior: smooth;
}
@media screen and (max-width: 600px) {
  .menu.responsive {
    position: relative;
  }
  .menu.responsive.toggle {
    position: absolute;
    right: 0;
    top: 0;
  }
}
.menu.responsive li {
  float: none;
  display: block;
  text-align: left;
}

/* End of navbar media queries */

body {
  margin: 0px;
  padding: 0px;
  background-color: #161616;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
#main {
  padding: 30px 50px;
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-size: 480px;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-image: url("../images/Isaiah-Lakey-_1_-min-removebg-preview.png");
  background-color: charcoal;
  background-position-y: 110px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: calibri;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 50px;
  background-color: #f4f7ff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
  z-index: 10;
}

.menu {
  display: flex;
}
.menu li a {
  padding: 10px 15px;
  color: #6c707c;
  font-size: 12px;
}
.lang {
  color: #292929;
}
.logo {
  font-size: 25px;
  font-weight: bold;
  color: #292929;
  font-family: Poppins;
}
.toggle {
  display: none;
}
.active a,
.menu li a:hover {
  background-color: #292929;
  color: #fff !important;
  font-weight: bold;
  transition: all ease 0.4s;
}
.name {
  font-family: calibri;
  width: 500px;
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(-20%, -50%);
  font-weight: bold;
}
.name p:nth-child(1),
.name .details {
  color: #6c707c;
  font-size: 21px;
}
.name h1 {
  font-family: Poppins;
  font-size: 40px;
  margin: 0px;
  letter-spacing: 3px;
  color: #17d1ac;
}
.cv-btn {
  width: 200px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292929;
  color: #ffffff;
}
.cv-btn:hover {
  background-color: #131313;
  transition: all ease 0.5s;
}
.black-line {
  align-self: end;
  width: 50%;
  height: 15%;
  margin-bottom: 4em;
  position: absolute;
  bottom: 0px;
  left: -3%;
  border-right: 1px solid rgba(41, 41, 41, 0.3);
}

.black-line::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 11px 0 11px;
  border-color: #292929 transparent transparent transparent;
  right: -0.7em;
  bottom: -2px;
}

.social {
  position: absolute;
  left: 50px;
  bottom: 50px;
  display: flex;
}
.social a {
  margin: 6px 12px;
}
.social i {
  color: white;
  font-size: 27px;
}
.social a:hover i {
  color: #17d1ac;
  transition: all ease 0.5s;
}
/* End of landing page */

/* Start of about page */
#about {
  width: 100%;
  height: 100vh;
  background-color: #161616;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 5% 0px 5%;
  position: relative;
}
.about-text {
  font-family: calibri;
  width: 50%;
}
.about-text h1 {
  font-size: 5rem;
  color: #17d1ac;
}
.about-text h2 {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 400;
}
.about-text h1,
h2 {
  margin: 0px;
  padding: 0px;
}
.about-text p {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.9);
}
.about-text button {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #17d1ac;
}
.about-text button:hover {
  background-color: #ffffff;
  transition: all ease 0.3s;
}
.about-model img {
  height: 619px;
}
/* End of about page */

/* Start of skills page */
.skills {
  padding: 70px 20px;
}
.skills .content .development-wrapper .development-title {
  color: whitesmoke;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}
.skills .content .development-wrapper .skills-bar-container {
  position: relative;
  width: 100%;
  list-style-type: none;
}
.skills .content .development-wrapper .skills-bar-container li {
  width: 100%;
  margin-bottom: 20px;
}
.skills
  .content
  .development-wrapper
  .skills-bar-container
  li
  .progressbar-title {
  color: whitesmoke;
  margin-bottom: 5px;
}
.skills
  .content
  .development-wrapper
  .skills-bar-container
  li
  .progressbar-title
  h3 {
  display: inline-block;
}
.skills
  .content
  .development-wrapper
  .skills-bar-container
  li
  .progressbar-title
  .percent {
  position: absolute;
  right: 20px;
  font-size: 1.1em;
}
.skills .content .development-wrapper .skills-bar-container li .bar-container {
  background: black;
  position: relative;
  width: 100%;
  height: 10px;
}
.skills
  .content
  .development-wrapper
  .skills-bar-container
  li
  .bar-container
  .progressbar {
  background: aqua;
  position: absolute;
  width: 0%;
  height: 100%;
}
.skills .content .tools-knowledge-wrapper {
  width: 100%;
}
.skills .content .tools-knowledge-wrapper .tools-wrapper,
.skills .content .tools-knowledge-wrapper .knowledge-wrapper {
  position: relative;
  padding: 20px 0;
  width: 100%;
  text-align: center;
}
.skills .content .tools-knowledge-wrapper .tools-wrapper .title,
.skills .content .tools-knowledge-wrapper .knowledge-wrapper .title {
  color: whitesmoke;
  font-size: 2em;
  margin-bottom: 10px;
}
.skills .content .tools-knowledge-wrapper .tools-wrapper ul,
.skills .content .tools-knowledge-wrapper .knowledge-wrapper ul {
  list-style-type: none;
  margin-left: 40px;
}
.skills .content .tools-knowledge-wrapper .tools-wrapper ul li,
.skills .content .tools-knowledge-wrapper .knowledge-wrapper ul li {
  color: #444;
  font-weight: bold;
  font-size: 1.1em;
  text-align: left;
}
.skills .content .tools-knowledge-wrapper .tools-wrapper ul li i,
.skills .content .tools-knowledge-wrapper .knowledge-wrapper ul li i {
  color: #27ae60;
}

.knowledge-wrapper .knowledge p {
  color: whitesmoke;
}

.tools-wrapper .title .tools p {
  color: whitesmoke;
}
/* End of skills page */

/* Start of work portfolio */
#portfolio {
  width: 100%;
  box-sizing: border-box;
  font-family: calibri;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 190px 2% 100px 2%;
}

.p-headind {
  font-family: calibri;
  font-size: 1.7rem;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  padding: 10px 20px;
  background-color: #292929;
  letter-spacing: 2px;
  border-radius: 3px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}
.p-box {
  background-color: #1f1f1f;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.3);
  position: relative;
}
.p-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-container {
  width: 90%;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}
.overlay-text {
  font-family: calibri;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(23, 209, 172, 0.8);
  display: none;
}
.overlay-text h1,
p {
  color: grey;
}
.overlay-text h1 {
  font-size: 2.2rem;
  margin: 0px;
  padding: 0px;
  letter-spacing: 2px;
  color: black;
}
.overlay-text p {
  font-size: 1.2rem;
  margin: 0px;
  color: black;
}
.p-box:hover .overlay-text {
  display: flex;
}
/* End of work portfolio */

/* Start of testimonials */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: calibri;
  width: 100%;
  min-width: 320px;
  box-sizing: border-box;
  box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.4);
}

header {
  text-align: center;
  padding-top: 20px;
}

section {
  width: 90%;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  padding-top: 40px;
}

.c-b-heading {
  font-size: 2rem;
  color: whitesmoke;
  font-family: calibri;
  margin: 10px;
  padding: 5px;
  letter-spacing: 4px;
  border-bottom: 2px solid aqua;
  text-align: center;
}

/* Start of Carousel elements */
#carousel {
  display: grid;
  grid-template-rows: 25fr 1fr;
  grid-template-areas:
    "leftCaret content rightCaret"
    ".........bullets.........";
  justify-items: center;
  align-items: center;
  text-align: center;
  padding-top: 170px;
}
/* End of carousel Elements */

/* Start of carousel carets */
#carousel #carousel-left,
#carousel #carousel-right {
  background: none;
  border: none;
  outline: none;
  font-size: 4em;
  color: black;
  transition: all 0.2s linear;
}

#carousel #carousel-left:hover,
#carousel #carousel-right:hover {
  color: aqua;
}
/* End of carousel carets */

/* Start of carousel grid positioning */
#carousel #carousel-left {
  grid-area: leftCaret;
}

#carousel #carousel-right {
  grid-area: rightCaret;
}

#carousel #carousel-container {
  grid-area: content;
  position: relative;
  width: 100%;
  padding: 2%;
  height: 100%;
}

#carousel #carousel-bullets {
  grid-area: bullets;
}
/* End of carousel grid positioning */

/* Start of carousel bullet styles */
#carousel-bullets .carousel-bullet {
  background: none;
  border: none;
  outline: none;
  color: inherit;
  padding: 2px;
  cursor: pointer;
}

#carousel #carousel-bullets .fas.fa-circle {
  transition: all 0.2s linear;
}

#carousel #carousel-bullets .fas.fa-circle.active {
  color: aqua;
}
/* End of carousel bullet styles */

/* Start of carousel slides styles */
.carousel-slide {
  opacity: 0;
  z-index: -2;
  transition: all 0.2s linear;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-slide.active {
  opacity: 1;
  z-index: 1;
}

.carousel-slide.active img {
  width: 50%;
  margin-left: 104px;
  margin-bottom: 63px;
}
/* End of carousel slides styles */

.fa-angle-right::before {
  content: "\f105";
  cursor: pointer;
}

.fa-angle-left::before {
  content: "\f104";
  cursor: pointer;
}

/* End of testimonials */

/* Start of contact form */
#contact-form {
  width: 100%;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact-form form {
  display: flex;
  width: 70%;
  height: 60vh;
  background-color: #1a1a1a;
  box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.01);
}

.contact-left {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-right {
  width: 60%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
}
.contact-right button {
  width: 100%;
  height: 50px;
  background-color: #1ed98b;
  font-weight: bold;
  outline: none;
  border: none;
  margin: 0px;
  color: #1b1b1b;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.c-l-heading {
  font-family: calibri;
  color: #ffffff;
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 400;
}
.f-name,
.f-email {
  display: flex;
  flex-direction: column;
  font-family: calibri;
  padding-top: 29px;
}
.f-name font,
.f-email font {
  color: #bfbfbf;
  font-size: 22px;
}
.f-name input,
.f-email input {
  height: 30px;
  width: 250px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #929292;
  color: #ffffff;
  margin: 10px 0px;
}
.f-email input::placeholder,
.f-name input::placeholder {
  opacity: 0.5;
  letter-spacing: 1px;
}
.f-email input:focus,
.f-name input:focus {
  border-bottom: 1px solid #17d1ac;
  transition: all ease 0.5s;
}
.message font {
  font-size: 18px;
  color: #4e4e4e;
  font-family: calibri;
}
.message {
  margin: 20px;
}
.contact-right textarea {
  width: 100% !important;
  height: 320px !important;
  border: none;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
  color: #ebebeb;
  font-size: 16px;
}
.contact-right textarea::placeholder {
  color: #ebebeb;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: calibri;
}
.contact-right button:active {
  transform: scale(1.04);
  transition: all ease 0.1s;
}
@media (max-width: 1190px) {
  #main {
    background-size: 253px !important;
    padding: 62px 18px;
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-size: 556px;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-image: url("../images/Isaiah-Lakey-_1_-min-removebg-preview.png");
    background-color: charcoal;
    background-position-y: 196px;
    background-position-x: 53px;
  }
  .name {
    left: 10%;
    top: 50%;
    transform: translate(-10%, -50%);
  }
  .about-model img {
    height: 400px;
  }
  #services {
    height: auto;
  }
  .b-container {
    flex-wrap: wrap;
  }
  .s-box {
    flex-grow: 1;
  }
  .s-b-img img {
    object-fit: cover;
  }
  #contact-form form {
    width: 95% !important;
  }
}
@media (max-width: 970px) {
  /* #main {
  } */
  .name {
    left: 64%;
    top: 20%;
    transform: translate(-50%, -50%);
  }
  .about-model {
    display: none;
  }
  #about {
    justify-content: center;
    padding-top: 0px;
  }
  .about-text {
    width: 90%;
  }
  .about-text h1 {
    font-size: 2rem;
  }

  .about-text h2 {
    font-size: 1rem;
    color: #ffffff;
    font-weight: 400;
  }

  .about-text p {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.9);
  }

  .p-container {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .toggle {
    display: block;
  }
  .toggle:before {
    content: "\f0c9";
    font-family: fontAwesome;
    line-height: 0px;
    margin-left: -30px;
  }
  .toggle.active:before {
    content: "\f00d" !important;
  }
  nav {
    padding: 10px 30px;
  }

  nav ul {
    position: absolute;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #0f0f0f;
    top: 50px;
    left: 0;
    transition: 0.5s;
    overflow: hidden;
    display: none !important;
    border: 3px solid #1f1f1f;
  }

  nav ul li a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #ffffff !important;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
    padding: 0px !important;
  }
  nav ul {
    padding: 0px;
    margin: 0px;
  }

  .active-menu {
    display: block !important;
  }

  nav ul li a:hover {
    background-color: rgba(27, 29, 32, 0.15);
  }

  .p-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    height: auto;
  }
  .c-b-heading {
    font-size: 1.4rem;
    text-align: center;
  }
  #contact-form {
    padding: 20px;
    height: auto;
    box-sizing: border-box;
  }

  #contact-form form {
    flex-direction: column;
    height: auto;
    padding: 20px;
    width: 90% !important;
  }
  .contact-left,
  .contact-right {
    width: 100%;
    border: none;
  }
  .f-name,
  .f-email {
    width: 100%;
  }
  .f-name input,
  .f-email input {
    width: 100%;
    border: none;
    background-color: #262626 !important;
    padding: 10px;
    box-sizing: border-box;
    height: 40px;
  }
  textarea {
    background-color: #262626 !important;
    margin: 10px 0px;
    padding: 10px;
    height: 200px !important;
    width: 100% !important;
  }
  .message {
    margin: 0px;
  }
  #contact-form form h1 {
    margin: 5px 0px;
  }
}

@media (max-width: 600px) {
  .p-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .c-b-heading {
    font-size: 1.2rem;
    text-align: center;
    margin: 0px 10%;
  }
  .name {
    width: 91%;
  }

  .black-line {
    margin-bottom: 20px;
  }
  .social {
    left: 84px;
    transform: translateX(-10px);
    top: 89%;
  }
  @media (max-width: 400px) {
    .s-box {
      width: 100%;
      height: 400px;
    }
  }

  .location p {
    color: gray;
    text-align: -moz-center;
    float: right;
  }

  .location i {
    color: gray;
  }

  .contact-number p {
    color: gray;
    text-align: -moz-center;
    float: right;
    padding-right: 220px;
  }

  .contact-number i {
    color: gray;
  }

  .contact-email p {
    color: gray;
    text-align: -moz-center;
    float: right;
    padding-right: 54px;
  }

  .contact-email i {
    color: gray;
  }

  .contact-info {
    padding-top: 20px;
  }
}
/* End of contact form */

/* Start of nav bar media queries */
